/*  Utilizamos o Google FOnts para carregar algumas fontes direto para a Página .https://fonts.google.com/   */
/*Atraves do GOOGLE FONTS colocamos o link la no Index e utilizaremos essas Familias
font-family: 'Pacifico', cursive;  ( Pro titulo )
font-family: 'Kavivanar', cursive;  (  paragrafos ...)
font-family: 'Fjalla One', sans-serif; ( Subtitulos)

*/
/*GERAL ..... 
vai ter os estilos ... body */
body{
	font-family: "Kavivanar", Kavivanar ,  Arial, sans-serif; /* se nao carregar a open sans, vai a outra e por ultima um generica*/
	color: #4d4d4d;
}

h1,h2,h3{
	margin: 0;
	font-family: 'Fjalla One',Kavivanar, Arial, sans-serif;
	font-weight: 700px;
}
.botao{
	color: #4d4d4d;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #f1f1f1;
	font-size: .em;
	border-radius: 3px;

}
/***** Navegação******/

nav{
	/*barra de navegação mobile, usamos flex  para propr dos navegadores...*/
	display:flex;
	flex-direction: collum;
	align-items: center;
	background-color: #4d4d4d;
}
nav > a {
 /*Selecionando todos os A que esta dentro da NAVEGAÇACAO = Nav*/
	text-decoration: none;
	color: #f1f1f1;
	font-weight: 700;
	font-size: 28px;
	font-family: Kavivanar , sans-serif;
}
/* remover as bolinhas da lista... e remov espacamento */
nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}

nav ul li{ /*  ajustando os elementos da lista de navegação*/
	text-align: center;
	width: 100%;

}
 /*os link dentro das sub/listas da barra de navegacao*/
nav ul li a {
	display: inline-block; /*block pq posso alterar o espaço interno ... */
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #f1f1f1;

}
